<%- include("_head.ejs") %>
    <div class="container d-flex flex-column align-items-center justify-content-center">
        <div class="mb-4">
            <center><img src="../images/8.png" width="400px"></center>
        </div>
        <h3 class="mb-5 text-center">
            <%= title %>
        </h3>
        <form action="/forgot" method="post" class="w-100 p-4 rounded-3 shadow mb-3 bg-secondary" 
            style="max-width: 500px;">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col-auto">
                        <label class="col-form-label" for="email">Email</label>
                    </div>
                    <div class="col">
                        <input class="form-control" type="email" name="email" placeholder="Email para recuperar a senha" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">&nbsp;Enviar&nbsp;</button>
                        <a class="btn btn-link" href="/login">Voltar ao login</a>
                    </div>
                </div>
            </div>
        </form>
        <div class="">
            <%= message %>
            <br>
            <small class="text-muted">
                <%= new Date().toLocaleString() %>  
            </small>
        </div>
    </div>

    <%- include("_foot.ejs") %>