<%- include("_head.ejs") %>
  <%- include("siteNavigation.ejs") %>
    <h2 class="mb-3">
      Usuários do sistema
    </h2>
    <a class="btn btn-primary mb-3" href="/users/new">Cadastrar usuário</a>
    <table class="table table-sm table-striped table-hover table-bordered caption-top">
      <caption>Total de Usuários: <b>
          <%= countItems %>
        </b></caption>
      <thead class="table-light">
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Tags</th>
          <th>UF</th>
          <th>Papel</th>
          <th>Ativo</th>
          <th colspan="2" class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody xclass="table-group-divider">
        <% if (data) { %>
          <% data.forEach(function(user) { %>
            <tr xonclick="window.location.href='/users/edit/<%= user._id %>'" xtitle="Clique para editar">
              <td>
                <%= user.name %>
              </td>
              <td>
                <%= user.email %>
              </td>
              <td>
                <%= user.tags %>
              </td>
              <td>
                <%= user.UF %>
              </td>
              <td>
                <%= user.role == 0 ? 'Consulta' : user.role == 1 ? 'Operador' : user.role == 2 ? 'Coordenador' : user.role == 9 ? 'Administrador' : 'Desconhecido' %>
              </td> 
              <td>
                <%= user.active ? 'Ativo' : 'Inativo' %>
              </td>
              <td style="text-align: center;">
                <a href="/users/edit/<%= user._id %>" class="btn btn-sm btn-secondary" title="Alterar"><i class="bi bi-person-gear"></i></a>
              </td>
              <td style="text-align: center;">
                <form action="/users/delete/<%= user._id %>" method="post"
                  onsubmit="return preDelete('<%= JSON.stringify(user) %>');">
                  <button type="submit" class="btn btn-sm btn-primary" xonclick="return confirm('Confirma a exclusão?')" title="Excluir"><i class="bi bi-person-x"</button>
                </form>
              </td>
            </tr>
            <% }); %>
              <% } else { %>
                <tr>
                  <td>No data available</td>
                </tr>
                <% } %>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% for(i=1; i <=Math.ceil(countItems/pageSize); i++) { %>
          <li class="page-item"><a class="page-link <%= i==page? 'active' :'' %>"
              href="/users?page=<%= i %>&pagesize=<%= pageSize%>">
              <%= i %>
            </a></li>
          <% } %>
      </ul>
    </nav>
    <script>
      function preDelete(oUser) {
        oUser = JSON.parse(oUser);

        try {
          if (confirm('Ação não pode ser desfeita.\nTem certeza que está excluindo o item correto?\nNome: ' + oUser.name + '\nEmail: ' + oUser.email)) {
            fetch(`/users/delete/${oUser._id}`, { method: 'POST' });
          }
        } catch (e) {
          alert('Erro ao tentar excluir:' + e);
        } finally {
          event.preventDefault(); // Impede o submit do formulário
          event.stopPropagation(); // Impede a propagação do evento
          return false;
        }
      }
    </script>
    <%- include("_footer") %>
      <%- include("_foot.ejs") %>